@import '/src/styles/titles';

div > p.title {
  @include titlePrincipal(2rem);
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  text-align: left;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;

  .emptyModule {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .wrapperText {
      text-align: center;
      .title {
        @include titlePrincipal(3rem);
      }
      .subtitleLink,
      .subtitle {
        @include subtitle();
      }
      .subtitleLink {
        text-decoration: underline;
        font-weight: 600;
      }
    }
    img {
      border-radius: 1rem;
      display: block;
      width: 25rem;
    }
  }
}
