@import '/src/styles/titles';

.landing {
  margin-top: 3rem;
  display: flex;
  gap: 8rem;
  justify-content: space-between;
  .wrapperText {
    width: 54rem;
    .title {
      @include titlePrincipal(4.8rem);
    }
    .subtitle {
      @include subtitle();
    }
  }
  img {
    border-radius: 1rem;
    display: block;
    width: 50rem;
  }
}

section.wrapperCard {
  .titleSection {
    @include titleSection();
    margin: 2.4rem 0;
  }
  .boxCards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 0;
    justify-content: space-around;
  }
}
