.wrapperCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;

  @media (max-width: 425px) {
    .wrapperCards {
      background: magenta;
    }
  }
}
