.card {
  background: #283844;
  border-radius: 1rem;
  text-align: center;
  width: 18rem;
  height: 24rem;
}
/*
768
.card {
  width: 256px;

  max-height: 320px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #292929;
  text-decoration: none;
  color: white;
  .header {
    padding-top: 56.25%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.card {
  max-height: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #292929;
  text-decoration: none;
  color: white;
  .header {
    padding-top: 56.25%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .body {
    margin-top: 20px;
    padding: 0 17px 21px;
    height: 100vh;
    h3 {
      margin-top: 5px;
      font-weight: 500;
    }

    .tag {
      span {
        display: inline-block;
        background: #B512A5;
        font-weight: 700;
        padding: 7px;
        border-radius: 3px;
        margin-bottom: 20px;
      }
    }*/
