.card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  background: #283844;
  border-radius: 1rem;
  text-align: center;
  width: 18rem;
  height: 24rem;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  border: 1px solid black;
  color: #fff;
  &:hover {
    opacity: 1;
  }
  div {
    p {
      font-size: 2.4rem;
      font-weight: 800;
    }
  }
}
