.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    span {
      width: 6rem;
      font-size: 1.4rem;
      font-weight: 600;
    }
    img {
      display: block;
      height: 4rem;
    }
  }
  .navbar {
    ul {
      display: flex;
      align-items: center;
      gap: 1rem;
      li {
        font-size: 2.4rem;
        a {
          padding: 0 0.4rem;
          position: relative;

          &::after {
            content: '';
            width: 0%;
            height: 1.5px;
            background: #816797;

            position: absolute;
            left: 0;
            bottom: 1px;
            transition: width 0.2s;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }
}
