@import '/src/styles/titles';

.information {
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100vh;

  .wrapperText {
    text-align: center;
    .title {
      @include titlePrincipal(3rem);
    }
    .subtitle {
      @include subtitle();
    }
    .btn {
      display: inline-block;
      margin-top: 3rem;
      border: 1px solid #fff;
      border-radius: 0.4rem;
      padding: 1rem;
      color: #fff;
      font-size: 1.6rem;
      cursor: pointer;
      &:hover {
        outline: auto;
      }
    }
  }
  img {
    border-radius: 1rem;
    display: block;
    width: 50rem;
  }
}
